@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
html {
    font-size: 16px;
    scroll-behavior: smooth;
}


/* Redimensión de fuente utilizando rem */

p {
    font-size: 1rem;
}

h1 {
    font-size: 3rem;
    margin: 1%;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
    margin: 0%;
}

h4 {
    font-size: 1.3rem;
}

h5 {
    font-size: 1.15rem;
    margin: 1%;
}

h6 {
    font-size: 1.05rem;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Abel', sans-serif;
    background-color: rgb(193, 209, 224);
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Diseño de columnas */

.column-1 {
    width: 100%;
    float: left;
}

.column-2 {
    width: 50%;
    float: left;
}

.column-3 {
    width: 33.33%;
    float: left;
}

.column-4 {
    width: 25%;
    float: left;
}

.column-nav {
    width: 13%;
    float: left;
    position: fixed;
    margin-right: 2%;
}

.column-news {
    width: 13%;
    float: left;
    margin-left: 2%;
}

.column-75 {
    width: 70%;
    float: left;
    margin-left: 15%;
}


/* clases web */

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    height: 100vh;
    background-image: url("");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

img {
    width: 100%;
}

#img-intro {
    background-image: url("../img/carles-rabada-kMde0v9tYYM-unsplash.jpg");
    height: 50vh;
    background-size: cover;
    background-position: center;
    margin: 3%;
    margin-left: 0%;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    box-shadow: 8px 8px 5px grey;
}

#img-1-noticias {
    height: 50vh;
    background-image: url("../img/img-1-noticia.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
}

#img-2-noticias {
    height: 50vh;
    background-image: url("../img/img-2-noticia.jpeg");
    background-size: cover;
    background-position: center;
    height: 200px;
}

#img-3-noticias {
    height: 50vh;
    background-image: url("../img/img-3-noticia.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
}

#img-4-noticias {
    height: 50vh;
    background-image: url("../img/img-4-noticias.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
}

#img-5-noticias {
    height: 50vh;
    background-image: url("../img/img-5-noticia.jpeg");
    background-size: cover;
    background-position: center;
    height: 200px;
}

#img-1-turismo {
    height: 50vh;
    background-image: url("../img/parc\ de\ la\ ciutadella.jpg");
    background-size: cover;
    background-position: center;
}

#img-2-turismo {
    height: 50vh;
    background-image: url("../img/sagrada\ familia.jpg");
    background-size: cover;
    background-position: center;
}

#img-3-turismo {
    height: 50vh;
    background-image: url("../img/pedrera.jpg");
    background-size: cover;
    background-position: center;
}

#img-1-act {
    height: 34vh;
    width: 35%;
    background-image: url("../img/img-1-act.jpg");
    background-size: cover;
    background-position: center;
}

#img-2-act {
    height: 34vh;
    width: 35%;
    background-image: url("../img/img-2-act.jpg");
    background-size: cover;
    background-position: center;
}

#img-3-act {
    height: 30vh;
    width: 45vh;
    background-image: url("../img/img-3-act.jpg");
    background-size: cover;
    background-position: center;
}

#img-1-aloj {
    height: 34vh;
    width: 35%;
    background-image: url("../img/img-1-aloj.jpg");
    background-size: cover;
    background-position: center;
}

#img-2-aloj {
    height: 34vh;
    width: 35%;
    background-image: url("../img/img-2-aloj.jpg");
    background-size: cover;
    background-position: center;
}

#img-3-aloj {
    height: 34vh;
    width: 35%;
    background-image: url("../img/img-3-aloj.jpg");
    background-size: cover;
    background-position: center;
}

#menu {
    height: 100%;
}

article {
    background-color: rgb(227, 227, 227);
}

a {
    text-decoration: none;
    color: black;
}

#prefooter {
    color: whitesmoke;
}

footer {
    background-color: black;
    color: rgba(245, 245, 245, 0.536);
}

footer p {
    font-size: 0.8rem;
}

#titulo {
    text-align: center;
}

#intro {
    box-shadow: 10px 10px 5px rgb(255, 174, 108);
    background-color: rgb(242, 180, 126);
    padding: 2%;
    border-radius: 5px;
    width: 28%;
}

#turismo {
    box-shadow: 10px 10px 5px rgb(255, 174, 108);
    background-color: rgb(242, 180, 126);
    padding: 2%;
    border-radius: 5px;
    width: 12%;
}

#actividades {
    box-shadow: 10px 10px 5px rgb(255, 174, 108);
    background-color: rgb(242, 180, 126);
    padding: 2%;
    border-radius: 5px;
    width: 16%;
}

#alojamiento {
    box-shadow: 10px 10px 5px rgb(255, 174, 108);
    background-color: rgb(242, 180, 126);
    padding: 2%;
    border-radius: 5px;
    width: 16%;
}

#galeria {
    box-shadow: 10px 10px 5px rgb(255, 174, 108);
    background-color: rgb(242, 180, 126);
    padding: 2%;
    border-radius: 5px;
    width: 11%;
}

#noticias {
    box-shadow: 10px 10px 5px rgb(255, 174, 108);
    background-color: rgb(242, 180, 126);
    padding: 5%;
    border-radius: 5px;
    width: 55%;
}


/* clases auxiliares */

.padding-s {
    padding: 3%;
}

.padding-m {
    padding: 6%;
}

.back-blue {
    background-color: rgb(42, 56, 89);
    color: white;
}

.back-pink {
    background-color: rgb(217, 143, 143);
}

.dec-noticias {
    border-style: solid;
    border-color: rgb(42, 56, 89);
    background-color: rgb(42, 56, 89);
    color: white;
}

.dec-web {
    border-style: solid;
    border-color: rgb(42, 56, 89);
    background-color: rgb(42, 56, 89);
    color: white;
}


/*Azul flojo --> rgb(96,126,166)*/


/*Azul fuerte --> rgb(42,56,89)*/

@media only screen and (max-width: 700px) {
    /*reglas*/
    /* column-3 pasará de tener 33.33% a 100% */
    .column-3 {
        width: 100%;
    }
    /* column-4 pasará de tener 25% a 50% */
    .column-4 {
        width: 50%;
    }
    .column-nav {
        width: 100%;
        position: relative;
    }
    .column-75 {
        width: 100%;
        margin-left: 0%;
    }
    .column-news {
        width: 100%;
        margin-left: 0%;
    }
    /*TITULOS:*/
    #intro {
        width: 55%;
    }
    #turismo {
        width: 22%;
    }
    #actividades {
        width: 30%;
    }
    #alojamiento {
        width: 30%;
    }
    #galeria {
        width: 20%;
    }
    #noticias {
        width: 27%;
        padding: 2%;
    }
    /*FOTOS ACTIVIDADES*/
    #img-1-act {
        height: 68vh;
    }
    #img-2-act {
        height: 68vh;
    }
    #img-3-act {
        height: 68vh;
    }
    #img-1-aloj {
        height: 44vh;
    }
    #img-2-aloj {
        height: 44vh;
    }
    #img-3-aloj {
        height: 44vh;
    }
}